<div class="d-flex justify-content-between h-100">
  <div class="contacts">
    <div class="contacts-header">
      <div class="d-flex align-items-center">
        <div class="icon">
          <i class="las la-bars"></i>
        </div>
        <h3>Contacts</h3>
      </div>
      <div class="nav-icons">
        <i class="las nav-previous la-angle-left"></i>
        <i class="las nav-next la-angle-right"></i>
      </div>
    </div>
    <div class="contacts-body">

      <div class="contact-list">
        <div class="contact-item" *ngFor="let contact of this.contactServiceManger.contactData">
          <div class="d-flex">
            <div class="contact-avatar">
              <img src="{{contact.avatar}}" alt="">
            </div>
            <div class="contact-info">
              <h3>{{contact.first_name}}&nbsp;{{contact.last_name}}</h3>
              <span>Sales Manager</span>
            </div>
          </div>

          <div class="contact-actions">
            <div class="nav-icons">
              <i (click)="selectedContact(contact)" class="las la-comments"></i>
              <i (click)="selectedContact(contact)" class="las la-phone"></i>
              <i (click)="selectedContact(contact)" class="las la-ellipsis-h"></i>
            </div>
          </div>

        </div>
      </div>
    </div>

  </div>
  <div class="single-contact" *ngIf="this.contactServiceManger.selectedContact">
    <div class="inro">
      <div class="d-flex align-items-center">
        <div class="avatar">
          <img src="{{this.contactServiceManger.selectedContact.avatar}}" alt="">
        </div>
        <div>
          <h3>John Doe</h3>
          <span>Sales Manager</span>
          <div class="contact-actions mt-20">
            <div class="nav-icons">
              <button class="btn-theme mr-10"><span class="las la-comments"></span>&nbsp;Message</button>
              <i class="las la-phone"></i>
              <i class="las la-ellipsis-h"></i>
            </div>
          </div>
        </div>

      </div>
      <div class="contact-about">
        <div class="about-item">
          <span>{{this.contactServiceManger.selectedContact.first_name}}</span>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam, quidem.</p>
        </div>
        <div class="about-item">
          <span>Email</span>
          <p>{{this.contactServiceManger.selectedContact.email}}</p>
        </div>
        <div class="about-item">
          <span>Dial</span>
          <p>{{this.contactServiceManger.selectedContact.email}}</p>
        </div>
        <div class="about-item">
          <span>Meeting</span>
          <p>{{this.contactServiceManger.selectedContact.email}}</p>
        </div>
      </div>

    </div>
  </div>